{% extends './template/layout.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/js-mindmap.css" />
<link href="/style.css" type="text/css" rel="stylesheet"/>
<body class="px-3">
    <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            It's a Chance! Give Yourself A Try by The Project Done.
          </h3>
          <article class="blog-post">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/mincoln.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h2 class="blog-post-title">조민건</h2>
                    <p class="blog-post-meta">Mincoln Cho</p>
                  </div>
                </div>
              </div>

            <table class="table">
                <tbody>
                  <tr>
                    <th>H.P</th>
                    <th>010-8013-9108</th>
                  </tr>
                  <tr>
                    <td>EMAIL</td>
                    <td>mincoln419@naver.com</td>
                  </tr>
                  <tr>
                    <td>BLOG</td>
                    <td><a href= 'http://blog.naver.com/mincoln419' >http://blog.naver.com/mincoln419</a></td>
                  </tr>
                  <tr>
                    <td>WEB PAGE</td>
                    <td><a href= 'http://mermer.kr'>http://mermer.kr</a></td>
                  </tr>
                </tbody>
              </table>


            <hr>
            
            <h3><strong>간략한 소개</strong></h3>
            <p class="border-bottom">JAVA를 주 개발언어로 하고 node,js 와 react.js를 배우고 있는 3년차 주니어 개발자입니다<br>
               신규 프로젝트부터, 레거시 기능개선, 프레임워크 전환, 유지보수까지 여러 프로젝트에서 경험치를 쌓아왔습니다.<br>
               고객과 동료개발자들과의 수월한 소통을 추구합니다. 요구사항 협의와 코드 리뷰를 좋아합니다<br>
               개발자는 평생 공부해야 하는 존재라는 직업관을 가지고 있으며, 즐거운 마음으로 새로운 기술 트렌드를 계속 공부하고 있습니다.<br>
            </p>
            <div class="row g-5 py-5"></div>
            <h3><strong>보유 기술</strong></h3>
            <dl>
              <dt>OS</dt>
              <dd>
                <ul>
                    <li>Linux (Ubuntu, centOS)</li>
                    <li>UNIX</li>
                    <li>Windows</li>
                  </ul>
              </dd>
              <dt>Develope Language</dt>
              <dd>
                <ul>
                    <li>JAVA</li>
                    <li>C#(learning now)</li>
                    <li>Python(learning now)</li>
                    <li>Javascript(node.js, react.js, jquery, extjs etc)</li>
                    <li>PL/SQL</li>
                  </ul>
              </dd>
              <dt>WAS</dt>
              <dd>
                <ul>
                    <li>Zeus</li>
                    <li>Tomacat(7.0, 8.0)</li>
                  </ul>
              </dd>
              <dt>Web Server</dt>
              <dd>
                <ul>
                    <li>Apache</li>
                    <li>WebtoB</li>
                    <li>Node.js</li>
                  </ul>
              </dd>
              <dt>Framework</dt>
              <dd>
                <ul>
                    <li>Spring</li>
                    <li>Spring Boot</li>
                    <li>Struts</li>
                    <li>Egoverment Framwork</li>
                    <li>Devon(LG CNS)</li>
                    <li>Express(node.js)</li>
                    <li>Mybatis</li>
                    <li>ibatis</li>
                  </ul>
              </dd>
              <dt>Database</dt>
              <dd>
                <ul>
                    <li>Oracle</li>
                    <li>MySql</li>
                    <li>PostgreSql</li>
                  </ul>
              </dd>
              <dt>AWS</dt>
              <dd>
                <ul>
                    <li>Light Sail</li>
                    <li>RDS</li>
                  </ul>
              </dd>
            </dl>
            <div class="row g-5 py-5 border-bottom"></div>
            <div class="row g-5 py-5"></div>
            <h3><strong>참여 프로젝트</strong></h3>
            <div class="row g-5 py-5"></div>
            <h4><strong>공영쇼핑 유지보수 및 개발</strong></h4>
            <h5>2019.12. ~ 2021.07.</h5>
            <h5>- 수행사: LND시스템</h5>
            <h5>- 고객사: 공영쇼핑</h5>
            <dt>내용</dt>
            <dd>
            공영쇼핑 영업시스템 및 기초 데이터베이스 유지보수<br>
            유지보수 인력이 유지보수와 동시에 내부적으로 개발 프로젝트 진행하는 업무구조
            </dd>
            <dt>개발환경</dt>
            <dd>
                <ul>
                    <li>Java Project</li>
                    <li>OS: Linux(CentOs)</li>
                    <li>WAS: ZEUS</li>
                    <li>Web Aplication: WebtoB</li>
                    <li>Framwork: EgovFramework(v 3.5), ext.js, mybatis</li>
                    <li>Sceduler: Oracle Job Scheduler, SpringBoot </li>
                    <li>DB: Oracle</li>
                    <li>DB tool: SQL/Developer, ERwin, MetaQuality</li>
                    <li>Monioring Tool: Sonarqube, RabbitMQ, Sysmaster, Scouter etc.</li>
                    <li>Deploy: Jenkins</li>
                  </ul>
            </dd>
            <dt>담당업무</dt>
            <dd>
            물류파트<br>
            <strong>* 유지보수업무</strong> - 출고/회수, 반출, 입고/재고 주담당<br>
            - 물류업무 특성상 자동배치프로그램과 택배사, EMS, LMS, 카카오톡 등 인터페이스가 많음<br>
            - 배치프로그램은 오라클 Procedure 기반의 배치와 스프링부트 배치가 혼재하고, 특히 Procedure가 많아서 PL/SQL 작업에 많은 시간을 할당<br>
            - 현업 요구사항에 따라 인덱스 추가가 많은 편인데, 이때문에 기존 플랜이 바뀌어서 속도 저하가 발생하는 경우가 많아 새로운 인덱스를 연구하거나 힌트를 추가하는 경우가 많았음.<br>
            - 데이터량이 많은 주문, 상품 테이블과 물류 테이블 다수를 join 하다보니 병렬 처리로 속도개선한 케이스도 있음<br>
            - 업무를 담당하는 동안 지속적으로 모니터링 하며 SQL 튜닝작업을 한 결과 100개 되었던 timeout APM Exception이 철수할때쯤에는 5건 이하로 떨어짐 <br>
            <strong>* 프로젝트성 개발 건</strong><br>
            - 공급계획 출고지연패널티 적용 프로그램<br>
            - 출고지시 제외 설정 프로그램<br>
            - 직매입 품의 - 그룹웨어 - 전자계약시스템 연동 : 2020.06. ~ 2020.09.<br>
            &nbsp;&nbsp;그룹웨어 업체: 더존/ 전자계약시스템 업체: 아이서트<br>
            &nbsp;&nbsp;연동방법: 그룹웨어 - API Interface / 전자계약 - DB to DB<br>
            - 물류 선입선출 프로세스 : 2020.10 ~ 2021.03.
            </dd>           
            <div class="row g-5 py-5 border-bottom"></div>
            <div class="row g-5 py-5"></div>


            <h4><strong>우정사업본부 차세대 - 프레임워크 전환 프로젝트</strong></h4>
            <h5>2019.01. ~ 2019.11.</h5>
            <h5>- 수행사: LG CNS</h5>
            <h5>- 고객사: 우정사업본부</h5>
            <dt>내용</dt>
            <dd>
            인공지능형 우편관리시스템 개발 사업 중 프레임워크 전환 프로젝트<br>
            Struts 기반의 구 프레임워크와 가우스로 개발된 업무시스템을 Spring기반의 DevOn 프레임워크에서 구동되도록 프레임워크 전환, 일부 메뉴 exbuilder6 로 리뉴얼
            나주 개발팀의 exbuilder6 신규화면 연동테스트 지원
            </dd>
            <dt>개발환경</dt>
            <dd>
                <ul>
                    <li>Java Project</li>
                    <li>OS: UNIX</li>
                    <li>WAS: ZEUS</li>
                    <li>Web Aplication: WebtoB</li>
                    <li>Framwork: DevON(LG CNS), exbuilder6(토마토시스템), mybatis</li>
                    <li>DB: Oracle</li>
                    <li>DB tool: SQL Developer</li>
                    <li>Deploy: Jenkins</li>
                  </ul>
            </dd>
            <dt>담당업무</dt>
            <dd>
            프레임워크 전환팀.<br>
            1차: 실시간 우편현황 모니터링 파트, 우편장비관리, 우편통계 등 프레임워크 전환 담당 <br>
            2차: PDA 담당 직원의 갑작스러운 철수로 PDA 인터페이스 전환작업 및 테스트 담당 <br>
            
            1차 전환작업에서는 특이사항 없이 일정에 앞서 전환작업 및 테스트, 통합테스트 지원까지 정상 수행<br>
            2차 전환작업에서 인수인계후 프로그램 분석 중, PDA 담당 직원가 테스트 없이 기계적인 전환작업을 한 것이 확인<br>
            혹시나 했지만 역시나 인터페이스 통합테스트에서 결함이 발견<br>
            가장 큰 오류의 원인은 데이터 조회 순서대로 JSON으로 된 전문이 생성되어 전달되어야 하는데 단순 HashMap으로 인터페이스 모듈에 설정되어있는 것이 원인<br>
            오류원인 확인 후 LinkedMap으로 변경하는 작업을 하고, 모든 PDA 세부 모듈에 대한 다른 오류 확인 작업과 수정을 해야한다고 판단.<br>
            신속하게 PL과 PM에게 보고후, 회의를 통해 추가 인원 투입에 대해 결정 -> 2개월 남짓한 기간동안 인터페이스 전환 작업 및 통합테스트까지 수행 완료<br>
            </dd>           
            <div class="row g-5 py-5 border-bottom"></div>
            <div class="row g-5 py-5"></div>
            <h4><strong>국민연금외화금고 구축 프로젝트</strong></h4>
            <h5>2018.03. ~ 2018.07.</h5>
            <h5>- 수행사: 코어뱅크</h5>
            <h5>- 고객사: 하나은행</h5>
            <dt>내용</dt>
            <dd>
            국민연금 외화자금 투자, 관리를 위한 금고 시스템 구축.<br>
            하나은행 계정계 시스템, 국민연금과 Interface를 통해 국민연금 내부망에서 직접 외화투자관리가 가능하도록함.
            </dd>
            <dt>개발환경</dt>
            <dd>
                <ul>
                    <li>Java Project</li>
                    <li>OS: UNIX</li>
                    <li>WAS: ZEUS</li>
                    <li>Web Aplication: WebtoB</li>
                    <li>Framwork: SPRING(v 3.2), Yframe(코어뱅크 자체 js framework), ibatis</li>
                    <li>Sceduler: ControlM</li>
                    <li>DB: Oracle</li>
                    <li>DB tool: Orange</li>
                  </ul>
            </dd>
            <dt>담당업무</dt>
            <dd>
            업무공통파트.<br>
            외화금고 시스템의 공통 화면, 팝업 및 모듈 프로그램 개발.(사용자관리, 메뉴관리, 코드관리 등)<br>
            국제 금융기관에서 공통으로 사용하는 기초데이터 수신 인터페이스 개발.<br>
            하나은행 계정계 시스템으로 부터 정기적으로 코드성 데이터, 환율데이터를 자동 최신화 시키는 배치프로그램 개발.<br>
            스프링배치와 데몬을 사용한 자동화 프로그래밍 경험자가 AA이외에 없어 API 참고하여 프로토타입 코딩 수행<br>
            </dd>           
            <div class="row g-5 py-5"></div>

          </article>
    


{% endblock %}

